extends layout
block style
  link(rel='stylesheet', href='./style/contact.css')
  
block content
  // === Content Part ===
  .container.content
    .headline-center-v2.headline-center-v2-dark.margin-bottom-60
      h2 聯絡方式
      span.bordered-icon
        i.fa.fa-th-large

    .row.margin-bottom-30
      .col-md-8.mb-margin-bottom-30
        .headline
          h2 聯絡表單
        br
        form#gform.sky-form.contact-style(action='https://script.google.com/macros/s/AKfycbwcJ5rh7jJbOZnsUK7X1PHvJWrbVPbiDedFOlTw-g0tlDDwUTE/exec', method='post')
          fieldset.no-padding
            label(for='name') 聯絡人
              span.color-red *
            #name.row.sky-space-20
              .col-md-7.col-md-offset-0
                div
                  input#name.form-control(type='text', name='name', required='required')
            label(for='company') 單位名稱
              span.color-red
            .row.sky-space-20
              .col-md-7.col-md-offset-0
                div
                  input#company.form-control(type='text', name='company')
            label(for='email') Email 
              span.color-red *
            .row.sky-space-20
              .col-md-7.col-md-offset-0
                div
                  input#email.form-control(type='email', name='email', required='required')
            label(for='message') 訊息
              span.color-red *
            .row.sky-space-20
              .col-md-11.col-md-offset-0
                div
                  textarea#message.form-control(rows='8', name='message', required='required')
            button.btn-u(type='submit') 送出
        #thankyou_message.message
          p 
            i.rounded-x.fa.fa-check
            | 成功寄出!
      .col-md-4
        // Contacts
        .headline
          h2 Contacts
        ul.list-unstyled.who.margin-bottom-30
          li
            a(href='#')
              i.fa.fa-fw.fa-phone
              | 04 2462 1638
          li
            a(href='#')
              i.fa.fa-fw.fa-fax
              | 04 2462 0995
          li
            a(href='#')
              i.fa.fa-fw.fa-globe
              | bestcase.com.tw
          li
            a(href='mailto:bestcase168@gmail.com')
              i.fa.fa-fw.fa-envelope
              | bestcase168@gmail.com
          li
            a(href='#')
              i.fa.fa-fw.fa-map-marker
              | 408台中市南屯區文心南三路996巷2號1F

block append js
  // JS Implementing Plugins
  script(type='text/javascript', src='assets/plugins/back-to-top.js')
  script(type='text/javascript', src='assets/plugins/smoothScroll.js')

  // JS Page Level
  script(type='text/javascript', src='assets/js/app.js')
  script(type='text/javascript', src='assets/js/pages/page_contacts.js')
  script(type='text/javascript', src='assets/js/plugins/owl-carousel.js')
  script(type='text/javascript', src='assets/js/plugins/style-switcher.js')
  script(data-cfasync='false' type='text/javascript' src='./js/form-submission-handler.js')

  script(type='text/javascript').
    jQuery(document).ready(function() {
      App.init();
      StyleSwitcher.initStyleSwitcher();
    });
