extends layout
block style
  link(rel='stylesheet', href='./style/contact.css')
  
block content
  // === Content Part ===
  .container.content
    .headline-center-v2.headline-center-v2-dark.margin-bottom-60
      h2 聯絡方式
      span.bordered-icon
        i.fa.fa-th-large

    .row.margin-bottom-30
      .col-md-9.mb-margin-bottom-30
        .headline
          h2 聯絡表單
        br
        form#sky-form3.sky-form.contact-style(action="assets/php/sky-forms-pro/demo-contacts-process.php", method="post")
          fieldset.no-padding
            label
              | 聯絡人
              span.color-red *
            .row.sky-space-20
              .col-md-7.col-md-offset-0
                div
                  input#name.form-control(type='text', name='name')
            label
              | 單位名稱
              span.color-red
            .row.sky-space-20
              .col-md-7.col-md-offset-0
                div
                  input#name.form-control(type='text', name='name')
            label
              | Email 
              span.color-red *
            .row.sky-space-20
              .col-md-7.col-md-offset-0
                div
                  input#email.form-control(type='text', name='email')
            label
              | 內容
              span.color-red *
            .row.sky-space-20
              .col-md-11.col-md-offset-0
                div
                  textarea#message.form-control(rows='8', name='message')
            button.btn-u(type='submit') 送出
          .message
            p 
              i.rounded-x.fa.fa-check
              | 成功寄出!
      // /col-md-9
      .col-md-3
        // Contacts
        .headline
          h2 Contacts
        ul.list-unstyled.who.margin-bottom-30
          li
            a(href='mailto:bestcase@gmail.com')
              i.fa.fa-envelope
              | bestcase@gmail.com
          li
            a(href='#')
              i.fa.fa-phone
              | 04 2462 1638
          li
            a(href='#')
              i.fa.fa-fax
              | 04 2462 0995
          li
            a(href='#')
              i.fa.fa-globe
              | bestcase.com.tw

    .headline
      h2 訂購單

    .row.equal-height-columns.margin-bottom-60
      .col-sm-4
        a.download(href='#', target='_blank')
          .easy-block-v3.service-or.equal-height-column.bg-color-green
            .service-bg
            i.icon-basket
            .inner-faq-b
              h3 3.9折 訂購單
      .col-sm-4
        a.download(href='#', target='_blank')
          .easy-block-v3.service-or.equal-height-column.bg-color-green
            .service-bg
            i.icon-basket-loaded
            .inner-faq-b
              h3 5折 訂購單

  // === End Content Part ===
block append js
  // JS Implementing Plugins
  script(type='text/javascript', src='assets/plugins/back-to-top.js')
  script(type='text/javascript', src='assets/plugins/smoothScroll.js')

  // JS Page Level
  script(type='text/javascript', src='assets/js/app.js')
  script(type='text/javascript', src='assets/js/pages/page_contacts.js')
  script(type='text/javascript', src='assets/js/plugins/owl-carousel.js')
  script(type='text/javascript', src='assets/js/plugins/style-switcher.js')
  script(type='text/javascript').
    jQuery(document).ready(function() {
      App.init();
      StyleSwitcher.initStyleSwitcher();
    });
