// === Footer Version 1 ===
.footer-v1
  .footer
    .container
      .row
        // About
        .col-md-4.md-margin-bottom-40
          a.homepage-link(href='index.html') BESTCASE
          p 佳仕奇有限公司為 "美麗華皮件工業股份有限公司" 關係企業，專賣銷售國內知名品牌美麗華 "Commodore" 行李箱。
        // End About
        // Link List
        .col-md-4.md-margin-bottom-40
          .headline
            h2 Useful Links
          ul.list-unstyled.link-list
            li
              a(href='index.html') 首頁
              i.fa.fa-angle-right
            li
              a(href='about.html') 關於我們
              i.fa.fa-angle-right
            li
              a(href='product.html') 產品介紹
              i.fa.fa-angle-right
            li
              a(href='manual.html') 產品說明
              i.fa.fa-angle-right
            li
              a(href='service.html') 維修方式
              i.fa.fa-angle-right
            li
              a(href='contact.html') 聯絡我們
              i.fa.fa-angle-right
        // End Link List
        // Address
        .col-md-4.map-img.md-margin-bottom-40
          .headline
            h2 Contact Us
          address.md-margin-bottom-40
            | 地址: 408台中市南屯區文心南三路996巷2號1F
            br
            | 電話: 04 2462 1638
            br
            | 傳真: 04 2462 0995
            br
            | 網頁: 
            a(href='https://bestcase.com.tw/') bestcase.com.tw
            br
            | Email: 
            a(href='mailto:bestcase168@gmail.com') bestcase168@gmail.com
            br
            | 統編: 54892014
            
        // /col-md-3
        // End Address
  // /footer
  .copyright
    .container
      .row
        .col-md-6
          p
            | 2018 © All Rights Reserved.
        // End Social Links
  // /copyright
// === End Footer Version 1 ===