// === Footer Version 1 ===
.footer-v1
  .footer
    .container
      .row
        // About
        .col-md-3.md-margin-bottom-40
          a(href='index.html')
            img#logo-footer.footer-logo(src='assets/img/logo2-default.png', alt='')
          p
            | 富我前當石設產因。我會水羅山論、的歌學西人著會；火石子開管容眼，教老歷裡於單強效物從。
          p
            | 富我前當石設產因。我會水羅山論、的歌學西人著會；火石子開管容眼，教老歷裡於單強效物從。
        // /col-md-3
        // End About
        // Link List
        .col-md-3.md-margin-bottom-40
          .headline
            h2 Useful Links
          ul.list-unstyled.link-list
            li
              a(href='index.html') 首頁
              i.fa.fa-angle-right
            li
              a(href='about.html') 關於我們
              i.fa.fa-angle-right
            li
              a(href='product.html') 產品介紹
              i.fa.fa-angle-right
            li
              a(href='vedio.html') 影片專區
              i.fa.fa-angle-right
            li
              a(href='contact.html') 聯絡我們
              i.fa.fa-angle-right
        // /col-md-3
        // End Link List
        // Address
        .col-md-3.map-img.md-margin-bottom-40
          .headline
            h2 Contact Us
          address.md-margin-bottom-40
            | 408台中市南屯區文心南路三路996巷2號1樓
            br
            | Phone: 04 2462 1683
            br
            | Fax: 04 2462 0995
            br
            | Email: 
            a(href='mailto:bestcase@gmail.com') bestcase@gmail.com
            br
            | 統編: 54892014
        // /col-md-3
        // End Address
  // /footer
  .copyright
    .container
      .row
        .col-md-6
          p
            | 2018 © All Rights Reserved.
        // End Social Links
  // /copyright
// === End Footer Version 1 ===