extends layout
block style
block content
  .container.content-sm
    .headline-center-v2.headline-center-v2-dark.margin-bottom-60
      h2 影片專區
      span.bordered-icon
        i.fa.fa-th-large
    .row
      .col-md-6
        h3 設計理念
        .embed-responsive.embed-responsive-16by9
          iframe.embed-responsive-item(src='https://www.youtube.com/embed/Gnzv14RHjWo?rel=0', allowfullscreen='')
      .col-md-6
        h3 使用方法介紹
        .embed-responsive.embed-responsive-16by9
          iframe.embed-responsive-item(src='https://www.youtube.com/embed/bwyATbqk_NA?rel=0', allowfullscreen='')
      .col-md-6
        h3 功能介紹
        .embed-responsive.embed-responsive-16by9
          iframe.embed-responsive-item(src='https://www.youtube.com/embed/7DtuRrq3phs?rel=0', allowfullscreen='')
      .col-md-6
        h3 全方位實驗室
        .embed-responsive.embed-responsive-16by9
          iframe.embed-responsive-item(src='https://www.youtube.com/embed/s-T68RZ7u_0?rel=0', allowfullscreen='')
block append js