@mixin size($w, $h:$w) {
  width: $w;
  height: $h;
}

.list-unstyled {
  li {
    font-size: 1.2em;
  }
}
.easy-block-v3 {
  padding: 25px 20px;
}

i.fa {
  font-size: 1em !important;
}

#thankyou_message {
  display: none;
}

.btn-u {
  margin-top: 20px;
}
