@mixin size($w, $h:$w) {
  width: $w;
  height: $h;
}

html, body, #app {
  @include size(100%);
}

.flat-testimonials {
  .color-green {
    font-weight: bold;
  }
}
.header-v3.header-sticky > div > div > div.navbar-collapse.mega-menu.navbar-responsive-collapse.collapse.in > div {
  width: 100%;
}

.flat-testimonials-in.md-margin-bottom-50 {
  p, span {
    text-align: center;
  }
}

.flat-testimonials .flat-testimonials-in {
  background: rgba(255,255,255,0.3);
  img {
    @include size(200px, auto);
  }
}

.content-boxes-v5 {
  display: flex;
  align-items: center;
}

.header-v3 .dropdown > a:after {
  top: 0px;
  right: 0px;
  content: "";
}


.interactive-slider-v2 {
  padding: 350px 0;
  position: inherit;
  background: url(../img/index_banner.png) no-repeat center center;
  background-size: cover;
  h1 {
    font-size: 40px;
    text-align: center;
  }
  .container {
    display: none;
  }
}

@media screen and (min-width: 992px) and (max-width: 1190px) {
  .interactive-slider-v2 {
    background: url(../img/index_banner_md.png) no-repeat center center;
    background-size: cover;
  }
}

@media screen and (max-width: 991px) {
  .interactive-slider-v2 {
    background: url(../img/index_banner_sm.png) no-repeat center center;
    background-size: cover;
  }
  .container {
    display: block !important;
  }
}

.case9918 {
  @include size(200px, 352px);
  margin: 0px auto;
  transition: all 0.5s;
  background: url(../../img/9918_side.png) center center no-repeat;
  &:hover {
    background: url(../../img/9918_pos.png) center center no-repeat;
  }
}
.casen9918 {
  @include size(200px, 352px);
  margin: 0px auto;
  transition: all 0.5s;
  background: url(../../img/n9918_side.png) center center no-repeat;
  &:hover {
    background: url(../../img/n9918_pos.png) center center no-repeat;
  }
}
.bg-image-v1 {
  background: url(../../img/index_bg.png) repeat fixed;
}