.collapse.navbar-collapse.mega-menu.navbar-responsive-collapse ul a {
  font-size: 18px;
}

a, p, span, label {
  font-family: 'Roboto', '黑體-繁', '微軟正黑體', sans-serif !important;
  font-size: 1.6em;
}
.fa {
  font-family: FontAwesome !important;
}

.footer-v1 {
  p, span, address {
    font-size: 16px !important;
  }
  address {
    a {
      font-size: 16px !important;
    }
  }
  .copyright p {
    font-size: 1em;
  }
}

.header-fixed .header-v3 {
  height: 110px;
}

@media screen and (max-width: 991px) {
  .header-fixed .header-v3 {
    height: inherit !important;
  }
}

.header-v3 {
  .navbar-brand {
    height: 90px;
    padding: 0px;
  }
} 
.navbar-toggle {
  margin-top: 40px;
}

.nav.navbar-nav {
  margin-top: 20px;
}

.homepage-link {
  font-size: 32px !important;
  color: #23527c;
  &:hover {
    color: #62aff4;
    text-decoration: none;
  }
}