.wrapper {
  background:#eee url(../img/bg.png) repeat center center;
}
.collapse.navbar-collapse.mega-menu.navbar-responsive-collapse ul a {
  font-size: 18px;
}

a, p, span, label {
  font-family: 'Roboto', '黑體-繁', '微軟正黑體', sans-serif !important;
  font-size: 1.6em;
}
.fa {
  font-family: FontAwesome !important;
}

.footer-v1 {
  .footer {
    padding: 15px 0px;
    .map-img {
      background: url(../../img/map-img.png) 5px 60px no-repeat;
    }
  }
  p, span, address {
    font-size: 16px !important;
  }
  address {
    a {
      font-size: 16px !important;
    }
  }
  .copyright p {
    font-size: 1em;
  }
}
.header-v3 {
  background: #fff;
}
.header-fixed .header-v3 {
  height: 110px;
  &.header-fixed-shrink {
    height: 140px !important;
  }
  .navbar-brand {
    height: 90px;
    padding: 0px;
  }
}

@media (max-width: 991px) {
  .header-fixed .header-v3, .header-fixed .header-v3.header-fixed-shrink {
    height: inherit !important;
  }
}

.navbar-brand {
  display: flex;
  align-items: center;
}

.link-list a {
  font-size: 16px;
}

.navbar-toggle {
  margin-top: 40px;
}

.nav.navbar-nav {
  margin-top: 20px;
}

.homepage-link {
  font-size: 32px !important;
  color: #23527c;
  &:hover {
    color: #62aff4;
    text-decoration: none;
  }
}