@mixin size($w, $h:$w) {
  width: $w;
  height: $h;
}

.shop-product {
  background:#eee url(../img/bg.png) repeat center center;
}

.product-size label {
  width: 80px !important;
  color: #18ba9b !important;
  cursor: pointer;
  border-color: #18ba9b !important;
}
p {
  font-size: 1.4em;
}
.caption {
  h3 {
    text-align: center;
    a {
      font-size: 1em;
    }
  }
}

.breadcrumb-v5 {
  padding: 0;
}

.thumbnails-v1 .thumbnail-img {
  margin: 0px auto;
  img {
    margin: 0px auto;
    max-width: auto;
    height: 400px;
  }
}

.product-color label {
  &[for='color-1'] {
    background: #da63af;
  }
  &[for='color-2'] {
    background: #c7c0bb;
  }
  &[for='color-3'] {
    background: #82ddeb;
  }
  &[for='color-4'] {
    background: #635353;
  }
  &[for='color-5'] {
    background: #554d7e;
  }
  &[for='color-6'] {
    background: #c8dd75;
  }
  &[for='color-7'] {
    background: #3d383f;
  }
}
#color9909 label {
  &[for='color-1'] {
    background: #e4a0b4;
  }
  &[for='color-2'] {
    background: #b2cae2;
  }
  &[for='color-3'] {
    background: #f4ae7d;
  }
  &[for='color-4'] {
    background: #c0c4ce;
  }
  &[for='color-5'] {
    background: #4b4c4e;
  }
}
#color8816 label {
  &[for='color-1'] {
    background: #635353;
  }
  &[for='color-2'] {
    background: #e4a0b4;
  }
  &[for='color-3'] {
    background: #c8dd75;
  }
  &[for='color-4'] {
    background: #554d7e;
  }
  &[for='color-5'] {
    background: #82ddeb;
  }
  &[for='color-6'] {
    background: #c7c0bb;
  }
  &[for='color-7'] {
    background: #3d383f;
  }
}

.case-product {
  @include size(100%, 455px);
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  
  margin: 0px auto;
  background-color: #e4e4e2;

  .product-color label[for='color-1'] {
    background: rgb(218, 99, 175);
  }
  
  .image {
    @include size(250px, 445px);
    transition: all 0.5s;

    // 9918
    &[name='9918'][value='1'] {
      background: url(../img/9918_1.png) center center no-repeat;
      background-size: 250px;
    }
    &[name='9918'][value='2'] {
      background: url(../img/9918_2.png) center center no-repeat;
      background-size: 250px;
    }
    &[name='9918'][value='3'] {
      background: url(../img/9918_3.png) center center no-repeat;
      background-size: 250px;
    }
    &[name='9918'][value='4'] {
      background: url(../img/9918_4.png) center center no-repeat;
      background-size: 250px;
    }
    &[name='9918'][value='5'] {
      background: url(../img/9918_5.png) center center no-repeat;
      background-size: 250px;
    }
    &[name='9918'][value='6'] {
      background: url(../img/9918_6.png) center center no-repeat;
      background-size: 250px;
    }
    &[name='9918'][value='7'] {
      background: url(../img/9918_7.png) center center no-repeat;
      background-size: 250px;
    }

    // n9918
    &[name='n9918'][value='1'] {
      background: url(../img/n9918_1.png) center center no-repeat;
      background-size: 250px;
    }
    &[name='n9918'][value='2'] {
      background: url(../img/n9918_2.png) center center no-repeat;
      background-size: 250px;
    }
    &[name='n9918'][value='3'] {
      background: url(../img/n9918_3.png) center center no-repeat;
      background-size: 250px;
    }
    &[name='n9918'][value='4'] {
      background: url(../img/n9918_4.png) center center no-repeat;
      background-size: 250px;
    }
    &[name='n9918'][value='5'] {
      background: url(../img/n9918_5.png) center center no-repeat;
      background-size: 250px;
    }
    &[name='n9918'][value='6'] {
      background: url(../img/n9918_6.png) center center no-repeat;
      background-size: 250px;
    }
    &[name='n9918'][value='7'] {
      background: url(../img/n9918_7.png) center center no-repeat;
      background-size: 250px;
    }
    // 9909
    &[name='9909'][value='1'] {
      background: url(../img/9909_1.png) center center no-repeat;
      background-size: 250px;
    }
    &[name='9909'][value='2'] {
      background: url(../img/9909_2.png) center center no-repeat;
      background-size: 250px;
    }
    &[name='9909'][value='3'] {
      background: url(../img/9909_3.png) center center no-repeat;
      background-size: 250px;
    }
    &[name='9909'][value='4'] {
      background: url(../img/9909_4.png) center center no-repeat;
      background-size: 250px;
    }
    &[name='9909'][value='5'] {
      background: url(../img/9909_5.png) center center no-repeat;
      background-size: 250px;
    }
    // 8816
    &[name='8816'][value='1'] {
      background: url(../img/8816_1.png) center center no-repeat;
      background-size: 250px;
    }
    &[name='8816'][value='2'] {
      background: url(../img/8816_2.png) center center no-repeat;
      background-size: 250px;
    }
    &[name='8816'][value='3'] {
      background: url(../img/8816_3.png) center center no-repeat;
      background-size: 250px;
    }
    &[name='8816'][value='4'] {
      background: url(../img/8816_4.png) center center no-repeat;
      background-size: 250px;
    }
    &[name='8816'][value='5'] {
      background: url(../img/8816_5.png) center center no-repeat;
      background-size: 250px;
    }
    &[name='8816'][value='6'] {
      background: url(../img/8816_6.png) center center no-repeat;
      background-size: 250px;
    }
    &[name='8816'][value='7'] {
      background: url(../img/8816_7.png) center center no-repeat;
      background-size: 250px;
    }
  }
}

.table-striped {
  th, td {
    font-size: 1.4em;
  }
}

.product-color-text {
  margin-left: 10px;
}
.product-text {
  position: absolute;
  bottom: 0;
  left: 0;
  font-size: 2em;
  margin: 5px 10px;
}

.feature {
  .feature-img {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    img {
      width: 100%;
      max-width: 400px;
      box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
    }
  }
  .feature-text {
    height: 266px;
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
  p, li {
    font-size: 1.4em;
  }
}