.service-block-v7 {
  p {
    font-size: 1.2em;
    text-align: justify;
  }
  a {
    font-size: 1.2em;
  }
}
ul {
  padding-left: 10px;
  li {
    font-size: 1.2em;
    text-align: left;
  }
}

li {
  font-size: 1.6em;
}
.service-block-v7 {
  border: 2px solid #eee;
}
